@font-face {
    font-family: myFont ;
    src: url('../Fonts/POPPINS-REGULAR.TTF');
}

:root {
    --blue: #003399;
    --green: #47FF4D;
    --orange: #E65126;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:'myFont';
}

