.booking-container {
    display: flex;
    flex-direction: column;
}

.booking-background {
    width: 100%;
    height: 20em;
    background-color: var(--blue);
    position: relative;
}

.booking-background img {
    width: 100%;
    height: 100%;
    opacity: .3;
    object-fit: cover;
}

.booking-background-text {
    padding: 2em;
    position: absolute;
}

.booking-background-text h3 {
    font-size: 2.5rem;
    color: #fff;
}

.booking-background-text p {
    color:#fff;
}

.booking-text {
    padding: 2em;
}

@media only screen and (min-width: 601px) {

    .booking-background-text {
        width: 80%;
        padding-left: 2em;
    }

    .booking-background-text h3 {
        font-size: 3.5rem;
    }
    

    .booking-background-text p {
        font-size: 1rem;
    }
    .booking-text {
        font-size: 2rem;
    }


    
}

@media only screen and (min-width: 1204px) {

    .booking-text {
        font-size: 3rem;
    }
}

