.footer-container {
    background-color: black;
    overflow: hidden;
}

.footer-contents {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    width: 5em;
    margin: 2em 0em;
}

.important-links {
    display: flex;
    flex-direction: column;

}

.important-links a {
    text-decoration: none;
    color: #fff;
    padding: .6em;
}

.important-links p {
    color: var(--green);
}

.important-links a:hover {
    color: var(--green)
}

.social-links {
    margin: 3em 0em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.social-links p {
    color: var(--green)
}

.social-links img {
    width: 2em;
}

.copy-right {
    background-color: rgb(228, 237, 251);
    width: 100%;
    padding:1em;
    text-align: center;
}

@media only screen and (min-width: 601px) {


    .footer-contents {
        padding: 5em;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:flex-start;
        
    }

    .footer-logo {
        padding: 0em;
        margin: 0em;
    }
    .footer-logo img {
        padding: 0em;
        margin:0em;
    }
    .important-links {
        padding: 0em;
        margin: 0em;
    }

    .social-links {
        padding: 0em;
        margin: 0em;
    }

    .copy-right {
        width: 100vw;
    }
    
    
}