
.service-hero-section {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
}

.service-hero-text {
    padding: 2em;
}
.service-hero-text h1 {
    color:aliceblue;
    font-size: 1.7rem;
}

.service-hero-text p {
    color: rgb(167, 248, 167);
}

.service-hero-image {
    min-width: 256px;
    height: 100%;
    padding: 0em 2em 3em 2em;

}

.service-hero-image img {
    width: 100%;
   
}

.home-cleaning-service,
.office-cleaning-service {
    display: flex;
    flex-direction: column;
    padding: 2em;
}


.home-cleaning-service-image,
.office-cleaning-service-image
 {
    height: 340px;
    min-width: 253px;
    margin-top: 2em;
}

.home-cleaning-service-image img,
.office-cleaning-service-image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.home-cleaning-service-text h3,
.office-cleaning-service-text h3 {
    color: var(--blue);
    margin-bottom: .7em;
}

@media only screen and (min-width: 765px) {
    .service-hero-section {
        flex-direction: row;
        padding: 2em;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 1em;

    }

    .service-hero-text {
        width: 60%;
        padding: 0em;
        margin: 0em;
    }

    .service-hero-image {
        width: 40%;
        padding: 0em;
        margin:0em;
    }

    .services {
        padding: 5em 0em;
    }
    

    .office-cleaning-service {
        flex-direction: row;
        flex-direction: row-reverse;
        padding: 1em 3em;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }

    .home-cleaning-service{
        flex-direction: row;
        padding: 1em 3em;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }

    .home-cleaning-service-image,
    .office-cleaning-service-image
    {
   width: 50%;
   padding: 0em;
   margin: 0em
}

.home-cleaning-service-text,
.office-cleaning-service-text
{
width: 50%;
}

    
}


@media only screen and (min-width: 1025px) {

    .service-hero-text h1 {
        font-size: 3rem;
}

.service-hero-text p{
    font-size: 1.5rem
}

.home-cleaning-service-text,
.office-cleaning-service-text
 {
    padding: 3em;

}

.home-cleaning-service-image,
.office-cleaning-service-image {
    margin-top: 2em;
}

.home-cleaning-service-text p,
.office-cleaning-service-text p {
    line-height: 2rem;
    
}





}